---
layout: default
title: Beranda
---
<div class="blurb">
	<h1>pijaraksiku</h1>
	<ul class="posts">
		{% for post in site.posts %}
			<li><h2><a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark" target="_blank">{{ post.title }}</a></h2>{% if post.excerpt %}{{ post.excerpt }}{% endif %}</li>
		{% endfor %}
	</ul>
	<!-- Pagination links -->
	<div class="pagination">
		{% if paginator.previous_page %}
			<a href="{{ site.url }}{{ paginator.previous_page_path }}" class="previous button__outline">Pos Anyar</a>  
		{% endif %} 
		{% if paginator.next_page %}
			<a href="{{ site.url }}{{ paginator.next_page_path }}" class="next button__outline">Pos Lawas</a>
		{% endif %}
	</div>
</div><!-- /.blurb -->
