<!DOCTYPE html>
<html lang="id_ID">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width initial-scale=1">
		<meta name="google-site-verification" content="Rfa0dA_xWlaGI9I9DQyMyDarzUg-NwevIUrPjxfoMnk">
		<title>{{ page.title }} - pijaraksiku</title>
		<link href="https://4.bp.blogspot.com/-8AfzjBvH4yw/WD5VKmEzVaI/AAAAAAAAAC0/IMqNd2AbGEsgy-BhrdiOlIfS9V29014OwCLcB/s1600/icon-add-advice.png" rel="shortcut icon" type="image/x-icon">
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<link href="/css/normalizecss.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Product+Sans" rel="stylesheet" type="text/css">
		<link href="https://pijaraksiku.appspot.com/atom.xml" rel="alternate" type="application/atom+xml" title="dipoLeaks - Atom">
		{% assign canonical = page.url|remove:'index.html' %}<link rel="canonical" href="{{ site.url }}{{ canonical }}">
		<script type='text/javascript'>
			function check_secure() {
			var secssl = /^https/i;
			var blog = document.location.hostname;
			var slug = document.location.pathname;
			var subs = window.location.search;
			if (!window.location.origin.match(secssl)) {
			window.location ="https://" + blog + slug + subs;
			}
			}
			check_secure();
		</script>
	</head>
	<body>
		<nav>
	    		<ul>
	        		<li><a href="https://pijaraksiku.appspot.com">Beranda</a></li>
	    		</ul>
		</nav>
		<div class="container">
			<div id="main-wrapper">{{ content }}</div><!-- main-wrapper -->
			<aside id="sidebar-wrapper">
				<h4>.:: Nuntiatum ::.</h4>
				<div style="text-align:center;padding-top: 10px;">
					<a href="http://kabarwan.dipopedia.com/2015/07/05-mau-belanja-hemat-di-zalora-ini-rahasianya.html" target="_blank" title="Mau Belanja Hemat Di Zalora? Ini Rahasianya!">Mau Belanja Hemat Di Zalora? Ini Rahasianya!<br /><img alt="Ilustrasi Menggunakan Voucher Zalora - dipoLeaks" src="https://3.bp.blogspot.com/-agVF1SVUIo8/V_T3mFBsbwI/AAAAAAAAIe0/g3w6V6IW64Y9GK_XrqHIIIhV7z5UBiRDwCLcB/s1600/Dipopedia-ContohMenggunakanKodeVoucherZBAPoct.gif" border="0" height="278" width="298" /></a>
				</div>
				<div class="clear"/>
				<h4>.:: Pos Terbaru ::.</h4>
				{% for post in site.posts limit:10 %}
					<li style="padding-left:10px;list-style-type:none;"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" rel="bookmark" target="_blank">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clear"/>
			</aside><!-- sidebar-wrapper -->
			<div class="clear"></div>	
		</div><!-- /.container -->
		<footer>
	    		<ul>
	        		<li>&copy; 2016 <a href="https://pijaraksiku.appspot.com">pijaraksiku</a></li>        		
			</ul>
		</footer>
	</body>
</html>
