---
layout: default
---
<h1><a href="https://pijaraksiku.appspot.com/" target="_blank">pijaraksiku</a></h1>
<h2>{{ page.title }}</h2>
<div class="post">
  {{ content }}
</div>
<p class="post-meta">
  Kategori: {{ site.locales[site.default_locale].PostedInCategories }}
  {% for cat in page.categories %}
  {{ cat }} | 
  {% endfor %} 
  Tags: {% if page.tags != empty %}
  {{ site.locales[site.default_locale].Taggedwith }}
  {% for tag in page.tags %}
  {{ tag }} {% unless page.tags.last == tag %}, {% endunless %}
  {% endfor %}
  {% endif %}
  <br>Diposkan oleh <a href="https://pijaraksiku.appspot.com" rel="author, nofollow" target="_blank">pijaraksiku</a> pada <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">
  {{ site.locales[site.default_locale].PostDate }}{{ page.date | date: "%b %-d, %Y" }}
  </time>
</p>
